    <div class="col-md-3 my-3">
        <div class="card h-100 shadow">
            <a href="{% url 'product' product.category.slug product.slug %}">
                <img src="{{ product.get_thumbnail }}" class="img-fluid thumbnail">
            </a>
    
            <div class="card-body small">                        
                <h5>
                    <a href="{% url 'product' product.category.slug product.slug %}"> {{ product.title }}</a></h5>
                    
                    
                    <h6 class="font-weight-light">KSh {{ product.price }}</h6> 
                   
            </div>
        </div>
    </div>